.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: left;

  margin: 0 0 30px;
  background-color: lightgray;
  background-size: cover;
  overflow: hidden;
}

.logo-container {
  margin-right: auto; /* This pushes the logo to the right */
}

.logo-container {
  margin-left: 10px; /* Add margin to create space in front of the image */
  display: flex; /* Use flexbox to align items */
  align-items: flex-start; /* Align items to the top */
}

.navLink {
  display: flex;
}

.nav a {
  text-decoration: none;
}

/* .nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
} */

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: darkgray;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: darkslategrey;
}